<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @order.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<% @order.food_items.each do |food_item|  %>
<h3><%= food_item.name %></h3>
<h3><%= food_item.price + 20000 %></h3>

<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
